<header class="d-flex flex-wrap justify-content-between  align-items-center border-bottom">
  <a routerLink="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img class="logo" src="../../.././assets/Rysto job.png" alt="logo">
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item "><a routerLink="/home" class="nav-link text-dark  " aria-current="page">Homepage</a></li>
    <li class="nav-item">
      <a routerLink="/authlavoratore" class="nav-link  text-dark active bg-danger  ">   <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-person-fill m-1" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
      </svg>Accedi</a></li>
    <li class="nav-item "><a routerLink="/authazienda" class="nav-link text-dark  ">Ristojob aziende</a></li>

  </ul>
</header>
