<div class="position-sticky top-0 bg-light z-1">
  <div class="p-2">
      <a  routerLink="/dashboardAzienda"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle-fill text-danger" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg></a>
  </div>

  <div>
    <h2>Annunci pubblicati</h2>
  </div>
</div>
  <div class="d-flex mt-4  justify-content-center">
    <div class="w-50 me-3">
      <div  *ngFor="let a of annunci">
        <div class="card ">
          <h5 class="card-header">{{a.titolo}}</h5>
          <div class="card-body">
            <h5 class="card-title">{{a.nomeStruttura}}</h5>
            <p>{{a.comune}},{{a.regione}}</p>
            <p class="card-text">dal:{{a.giornoInizioLavoro}} al:{{a.giornoFineLavoro}}</p>
            <a [routerLink]="[a.id]" class="btn btn-danger">visualizza</a>
          </div>
        </div>
      </div>
 </div>

 <router-outlet></router-outlet>
</div>

